h1 {
  font-size: 28px!important;
  font-weight: 900!important;
}

.pseudofooter {
  align-self: flex-end;

  a > img {
    width: 28px;
  }
}

input[type="number"] {
  text-align: center;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper{
  margin-bottom: -1.25em!important;
}

mat-select {
  font-size: 15px!important;
}

.colorIn {
  color: #018786!important
}

.colorOut {
  color: #f44336!important;
}

.marginTop20 {
  margin-top: 20px!important;
}

.backgroundColorMain {
  background-color: #ffd740!important;
}

.picture-multiply {
  width: 11px;
}

.picture-divide {
  width: 15px;
}

.pointer {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.preSettings {
  display: flex;
  flex-direction: column;
}

.preSettings__switchers {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.preSettings__choiceGrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  justify-items: center;
  align-items: center;
}

.studingModule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.studingModule__rest {
  align-self: end;
  margin-right: 20px;
}

.studingModule__target {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #000;
  margin: 30px;
  margin-top: 20px;
}

.studingModule__unitToStudy {
  font-size: x-large;
  font-weight: 500;
}

.studingModule__form {
  display: flex;
  margin: 20px;
}

.studingModule__form__btn {
  margin: 0 2px;
  height: 56px!important;
}

.finalStatistics {
  font-size: x-large;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 374px) {
  .container {
    min-width: 250px;
  }

  .studingModule__form {
    display: flex;
    flex-direction: column;
  }

  .studingModule__form__btn {
    margin: 0;
    width: 100%;
  }
}
