<div class="container">

    <div class="preSettings" *ngIf="preSettingsHidden"></div>

    <div class="studingModule" *ngIf="studingModuleHidden">

        <div class="studingModule__target" [@target]="targetState" (@target.done)="onAnimationDoneEvent()"></div>

        <div class="studingModule__unitToStudy">{{unitToStudy?.operand1}} {{unitToStudy?.operation}} {{unitToStudy?.operand2}} = ?</div>

        <form class="studingModule__form" [formGroup]="form" (ngSubmit)="submit()">

            <mat-form-field>
                <input type="number" matInput placeholder="Введите ответ" formControlName="result" spellcheck="false">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>

            <button class="studingModule__form__btn" mat-flat-button type="submit" color="accent" [disabled]="form.invalid">Огонь!</button>

        </form>

    </div>

    <div class="finalStatistics" *ngIf="finalStatisticsHidden" [innerHtml]="statisticsResult"></div>

</div>
