<div class="container">
  <h1>{{ "app.title" | translate }}</h1>

  <div class="preSettings" *ngIf="preSettingsHidden">
    <div class="preSettings__switchers">
      <mat-slide-toggle [(ngModel)]="isCheckedAll" (toggleChange)="isCheckedAlltoggleChange()">{{ "app.study-all" |
        translate }}</mat-slide-toggle>

      <mat-form-field appearance="fill">
        <mat-label>{{ "app.select-operation" | translate }}</mat-label>
        <mat-select [(value)]="selectedOperations">
          <mat-option value="multiply">{{
            "app.multiply" | translate
            }}</mat-option>
          <mat-option value="divide">{{ "app.divide" | translate }}</mat-option>
          <mat-option value="multiply&divide">{{
            "app.multiply+divide" | translate
            }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <table [formGroup]="formCheckboxNumbers">
      <thead>
        <th scope="col"></th>
        <th scope="col" *ngFor="let cell of cells">{{cell}}</th>
      </thead>
      <tbody>
        <tr *ngFor="let row of cells">
          <th scope="row">
            <div class="pointer row" (click)="isCheckedRowToggleChange(row)">{{row}}</div>
          </th>
          <td *ngFor="let cell of cells">
            <mat-checkbox [formControlName]="row + 'x'+ cell">
            </mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>

    <button mat-flat-button class="marginTop20" color="accent" [disabled]="this.errorValidationIfNotChecked()"
      (click)="startClick()">
      {{ "app.start-button" | translate }}
    </button>

    <div class="marginTop20 pseudofooter">
      <div class="languageSelector">
        <mat-form-field appearance="outline">
          <mat-select [(value)]="selectedLanguage" (selectionChange)="useLanguage($event.value)">
            <mat-option value="ru">RU</mat-option>
            <mat-option value="en">EN</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <a href="https://github.com/ostart/PythagoreanBiathlon" target="_blank"><img src="assets/github.svg" /></a>
    </div>
  </div>

  <div class="studingModule" *ngIf="studingModuleHidden">
    <div class="studingModule__rest">{{ restMessage | translate }}</div>

    <div class="studingModule__target" [@target]="targetState" (@target.done)="onAnimationDoneEvent()"></div>

    <div class="studingModule__unitToStudy" [innerHTML]="message | sanitizeHtml">
      <span></span>
    </div>

    <form class="studingModule__form" [formGroup]="formInputResult" (ngSubmit)="submit()">
      <mat-form-field>
        <input type="number" #numberinput matInput placeholder="{{ 'app.answer-placeholder' | translate }}"
          formControlName="result" autofocus />
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <button class="studingModule__form__btn" mat-flat-button type="submit" color="accent">
        {{ "app.fire" | translate }}
      </button>
    </form>
  </div>

  <div class="finalStatistics" *ngIf="finalStatisticsHidden" [innerHtml]="statisticsResult"></div>
  <div class="finalStatistics marginTop20" *ngIf="finalStatisticsHidden">
    <button mat-flat-button color="accent" (click)="retryClick()">
      {{ "app.retry" | translate }}
    </button>
  </div>
</div>