<div class="container">

    <h1>Пифагорейский биатлон</h1>

    <div class="preSettings" *ngIf="preSettingsHidden">

      <div class="preSettings__switchers">

        <mat-slide-toggle [(ngModel)]="isCheckedAll" (toggleChange)="isCheckedAlltoggleChange()">Учить все</mat-slide-toggle>

        <mat-form-field appearance="fill">
          <mat-label>Выберите операцию</mat-label>
          <mat-select [(value)]="selectedOperations">
            <mat-option value="multiply">Умножение</mat-option>
            <mat-option value="divide">Деление</mat-option>
            <mat-option value="multiply&divide">Умножение и Деление</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <section class="preSettings__choiceGrid" [formGroup]="formCheckboxNumbers">
        <div></div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>2</div>
            <mat-checkbox formControlName="2x2"></mat-checkbox>
            <mat-checkbox formControlName="2x3"></mat-checkbox>
            <mat-checkbox formControlName="2x4"></mat-checkbox>
            <mat-checkbox formControlName="2x5"></mat-checkbox>
            <mat-checkbox formControlName="2x6"></mat-checkbox>
            <mat-checkbox formControlName="2x7"></mat-checkbox>
            <mat-checkbox formControlName="2x8"></mat-checkbox>
            <mat-checkbox formControlName="2x9"></mat-checkbox>
        <div>3</div>
            <mat-checkbox formControlName="3x2"></mat-checkbox>
            <mat-checkbox formControlName="3x3"></mat-checkbox>
            <mat-checkbox formControlName="3x4"></mat-checkbox>
            <mat-checkbox formControlName="3x5"></mat-checkbox>
            <mat-checkbox formControlName="3x6"></mat-checkbox>
            <mat-checkbox formControlName="3x7"></mat-checkbox>
            <mat-checkbox formControlName="3x8"></mat-checkbox>
            <mat-checkbox formControlName="3x9"></mat-checkbox>
        <div>4</div>
            <mat-checkbox formControlName="4x2"></mat-checkbox>
            <mat-checkbox formControlName="4x3"></mat-checkbox>
            <mat-checkbox formControlName="4x4"></mat-checkbox>
            <mat-checkbox formControlName="4x5"></mat-checkbox>
            <mat-checkbox formControlName="4x6"></mat-checkbox>
            <mat-checkbox formControlName="4x7"></mat-checkbox>
            <mat-checkbox formControlName="4x8"></mat-checkbox>
            <mat-checkbox formControlName="4x9"></mat-checkbox>
        <div>5</div>
            <mat-checkbox formControlName="5x2"></mat-checkbox>
            <mat-checkbox formControlName="5x3"></mat-checkbox>
            <mat-checkbox formControlName="5x4"></mat-checkbox>
            <mat-checkbox formControlName="5x5"></mat-checkbox>
            <mat-checkbox formControlName="5x6"></mat-checkbox>
            <mat-checkbox formControlName="5x7"></mat-checkbox>
            <mat-checkbox formControlName="5x8"></mat-checkbox>
            <mat-checkbox formControlName="5x9"></mat-checkbox>
        <div>6</div>
            <mat-checkbox formControlName="6x2"></mat-checkbox>
            <mat-checkbox formControlName="6x3"></mat-checkbox>
            <mat-checkbox formControlName="6x4"></mat-checkbox>
            <mat-checkbox formControlName="6x5"></mat-checkbox>
            <mat-checkbox formControlName="6x6"></mat-checkbox>
            <mat-checkbox formControlName="6x7"></mat-checkbox>
            <mat-checkbox formControlName="6x8"></mat-checkbox>
            <mat-checkbox formControlName="6x9"></mat-checkbox>
        <div>7</div>
            <mat-checkbox formControlName="7x2"></mat-checkbox>
            <mat-checkbox formControlName="7x3"></mat-checkbox>
            <mat-checkbox formControlName="7x4"></mat-checkbox>
            <mat-checkbox formControlName="7x5"></mat-checkbox>
            <mat-checkbox formControlName="7x6"></mat-checkbox>
            <mat-checkbox formControlName="7x7"></mat-checkbox>
            <mat-checkbox formControlName="7x8"></mat-checkbox>
            <mat-checkbox formControlName="7x9"></mat-checkbox>
        <div>8</div>
            <mat-checkbox formControlName="8x2"></mat-checkbox>
            <mat-checkbox formControlName="8x3"></mat-checkbox>
            <mat-checkbox formControlName="8x4"></mat-checkbox>
            <mat-checkbox formControlName="8x5"></mat-checkbox>
            <mat-checkbox formControlName="8x6"></mat-checkbox>
            <mat-checkbox formControlName="8x7"></mat-checkbox>
            <mat-checkbox formControlName="8x8"></mat-checkbox>
            <mat-checkbox formControlName="8x9"></mat-checkbox>
        <div>9</div>
            <mat-checkbox formControlName="9x2"></mat-checkbox>
            <mat-checkbox formControlName="9x3"></mat-checkbox>
            <mat-checkbox formControlName="9x4"></mat-checkbox>
            <mat-checkbox formControlName="9x5"></mat-checkbox>
            <mat-checkbox formControlName="9x6"></mat-checkbox>
            <mat-checkbox formControlName="9x7"></mat-checkbox>
            <mat-checkbox formControlName="9x8"></mat-checkbox>
            <mat-checkbox formControlName="9x9"></mat-checkbox>
      </section>

      <button mat-flat-button color="accent" [disabled]="this.errorValidationIfNotChecked()" (click)="startClick()">Поехали!</button>

    </div>

    <div class="studingModule" *ngIf="studingModuleHidden">

        <div class="studingModule__target" [@target]="targetState" (@target.done)="onAnimationDoneEvent()"></div>

        <div class="studingModule__unitToStudy" [innerHTML]="message | sanitizeHtml"></div>

        <form class="studingModule__form" [formGroup]="formInputResult" (ngSubmit)="submit()">

            <mat-form-field>
                <input type="number" #numberinput matInput placeholder="Введите ответ" formControlName="result" autofocus>
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>

            <button class="studingModule__form__btn" mat-flat-button type="submit" color="accent">Огонь!</button>

        </form>

    </div>

    <div class="finalStatistics" *ngIf="finalStatisticsHidden" [innerHtml]="statisticsResult"></div>

</div>
